[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
camus = {editable = true,path = "."}
invoke = "*"
ipython = "*"
ipdb = "*"
flake8 = "*"
sphinx = "*"
recommonmark = "*"

[packages]
boto3 = "*"

[requires]
python_version = "3.7"
